.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
}

.goomba {
    width: 200px;
    position: absolute;
    top: 400px;
    left: 50px;
}

.baloon {
    width: 200px;
    position: absolute;
    left: 400px;
    z-index: 1;
}

.bowser {
    width: 400px;
    position: absolute;
    left: 600px;
}

.word {
    position: absolute;
    top: 100px;
    left: 420px;
    z-index: 2;
}